@import "~antd/dist/antd.css";
@import "~react-datepicker/dist/react-datepicker.css";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hotel-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid Lavender;
  border-radius: 5px;
}
.hotel-card-selected {
  background-color: lavender;
}

.global-icons {
  margin: 3px;
}

.rooms-card {
  margin: 3px;
  border: 1px solid Lavender;
  border-radius: 5px;
}

.rooms-card-selected {
  background-color: lavender;
}

.room-card-extras {
  margin-top: 5px;
}

.app-header {
  background-color: MediumSlateBlue;
  color: white;
  font-weight: 700;
}
